table {
    font-family: arial, sans-serif;
    border: 1px solid #886b37;
    width: 100%;
}

td, th {
    border: 1px solid #534b21;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #aeac93;
}