.bluefield{
    /*border: 1px;*/
    width: 600px;
    height: 600px;
    background-color: #514EA5;
    float:left;
}
.whitefield{
    width:100%;
    height:300px;
    background-color: ghostwhite;
 }
.redfield{
   width:100%;
    height: 300px;
    background-color: #b55a78;
}
